body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container-fluid{
    background-image: url(./home-Page/01.jpg);
    background-size: cover;
    min-height: 100vh;

}
/*Header*/
.img-thumbnail{
    height: 100px;
    margin-bottom: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.header{

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-left: 20vh;
    
}
.header-button{
    color: white;
    text-decoration: none;
}
.header-button:hover{
    color: #0564bd;
}
/*Section*/
.home-section{
    
    margin-top: 0px;
    padding: 95px;
    margin-left: 20vh;
}
.arrow00{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.h{
    color: white;
}
.section{
    margin-top: 150px;
}
.btn{
    
    border: 2px solid;
    height: 60px;
    width: 160px;
}
.container2{
    margin-top: 0px;
    background-image: url(./home-Page/03.jpg);
    background-size: cover;
    min-height: 100vh;
 
}
.container3{
    margin-top: 0px;
    background-image: url(./home-Page/02.gif);
    background-size: cover;
    min-height: 100vh;
 
}
.container4{
    margin-top: 0px;
    background-image: url(./home-Page/04.jpg);
    background-size: cover;
    min-height: 100vh;
 
}
.container5{
    margin-top: 0px;
    background-image: url(./falcon9-Page/01.jpg);
    background-size: cover;
    min-height: 100vh;
 
}
.section2{
    margin-top: 150px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.falcon-title{
    font-size: 90px
}
.falcon-subtitle{
    font-size: 20px;
;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 10vh;
    background-color: black;
    font-size: small;
}
.instagram{
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}
.copy{
 color: #696969;
}
.container6{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    background-color: black;
    background-size: cover;
    min-height: 30vh;
 }
 .dados{
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    
 }
 .number{
    font-size: 100px;
    font-weight: 500;
 }
.number-sub{
    font-size: 20px;
}
.container7{
    margin-top: 0px;
    background-image: url(./falcon9-Page/02.jpg);
    background-size: cover;
    min-height: 100vh;
 
}
.page7-text{
    font-size: 20px;
    line-height: 50px
}
.container8{
    margin-top: 0px;
    background-image: url(./falcon9-Page/03.jpg);
    background-size: cover;
    min-height: 100vh;
 
}
.tabela{
    height: 60ch;
    width: 60ch;
    margin-left: 200px;
    margin-top: 150px;
}
th{
    color: white;
}
.td-text{
    color: white;
    text-align: end;
}